@page
@model store.Pages.Games.SuccessModel

@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

<div>
    <h4>You have ordered a game. [note this isn't real]</h4>
</div>
<div>
    <a asp-page="./Index">Back to List</a> |
    <a href="../">Back to Home</a>
</div>
